<!-- views/index.html -->
<script src="javascript/app.js"></script>
<div>
    <button id="fltrtbr">To Read</button>
    <button id="fltrcr">Currently Reading</button>
    <button id="fltrread">Read</button>
    <button id="fltrdnf">Did Not Finish</button>

    <div id="bookList">
        {{ if .Books }}
        {{ range .Books }}
            <div class="book-list-container" data-book-id="{{ .ID }}">
                <p style="cursor: pointer;">
                    {{ .Title }} by {{ .Author }}: {{ .Status }}
                </p>
            </div>
        {{ end }}
    {{ else }}
        <div>
            <p>No books yet.</p>
            <p><a href="/book">Add new</a></p>
        </div>
    {{ end }}
    </div>

    <!-- Book details container -->
    <div id="bookDetailsContainer" style="display: none">
        <h3><span id="bookTitle"></span></h3>
        <p><span id="bookAuthor"></span></p>
        <p><span id="bookDescription"></span></p>
        <p>Status: <span id="bookStatus"></span></p>
        <p>ID: <span id="bookID"></span></p>
        <button id="cr">Mark as Currently Reading</button>
        <button id="read">Mark as Read</button>
        <button id="dnf">Mark as Did Not Finish</button>
        <button id="tbr">Mark as To Be Read</button>
        <button id="deletebtn">Delete</button>
      </div>

</div>
